<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>holylights_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,215},{128,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,46}</string>
            </dict>
            <key>holylights_fangzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{125,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,128}}</string>
                <key>sourceSize</key>
                <string>{125,128}</string>
            </dict>
            <key>holylights_guangkuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1},{93,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{93,128}}</string>
                <key>sourceSize</key>
                <string>{111,128}</string>
            </dict>
            <key>holylights_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{118,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{118,39}}</string>
                <key>sourceSize</key>
                <string>{128,51}</string>
            </dict>
            <key>holylights_ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,95},{81,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,128}}</string>
                <key>sourceSize</key>
                <string>{81,128}</string>
            </dict>
            <key>holylights_yezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skille_holylights.png</string>
            <key>size</key>
            <string>{256,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95cd9787104cc46a1ee2d3e627705326$</string>
            <key>textureFileName</key>
            <string>skille_holylights.png</string>
        </dict>
    </dict>
</plist>
