<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heartbomb_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{94,230}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{94,230}}</string>
                <key>sourceSize</key>
                <string>{94,256}</string>
            </dict>
            <key>heartbomb_shan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,189},{38,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>heartbomb_shan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{36,118}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{36,118}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>heartbomb_shan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{44,114}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{44,114}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>heartbomb_shan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,178},{64,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{64,112}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>heartbomb_shan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,211},{64,88}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{64,88}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>heartbomb_shan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,295},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{64,84}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>heartbomb_shan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,268},{46,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,73}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>heartbomb_zha01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,411},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>heartbomb_zha02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,121},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>heartbomb_zha03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,276},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>heartbomb_zha04.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,411},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>heartbomb_zhuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,243},{66,18}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{66,18}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>heartbomb_zhuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,342},{38,68}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,3},{38,68}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>heartbomb_zhuan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{88,22}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{88,22}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>heartbomb_zhuan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,266},{86,28}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{86,28}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>heartbomb_zhuan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1},{104,22}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,48},{104,22}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>heartbomb_zhuan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,106},{82,30}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,43},{82,30}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>heartbomb_zhuan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,96},{104,24}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{104,24}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_heartbomb.png</string>
            <key>size</key>
            <string>{256,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fdbc3f3e067da9e03d1ca3f7eed54bb$</string>
            <key>textureFileName</key>
            <string>skill_heartbomb.png</string>
        </dict>
    </dict>
</plist>
